<div class="header">
    <h3>Hipster Coffee</h3>
    <p>Good Coffee. Great People. Every City.</p>
</div>

<form>
 <div class="zip">
     <input type="text" class="form-control transparent-input" id="enter_zip" placeholder="Enter Zip Code Here">
       <button type="submit" class="btn btn-default"></button>
 </div> 
</form>


<div class="main">
    <div class="main_pic"><%= link_to image_tag("venue-img.jpg") %></div>
    <div id="title">
        <h3 id="winning-title">Culture Espresso Bar</h3>
        <p id="winning-address">72 W 38th St, New York, NY 10018</p>
    </div>
    <div id="rating">
    	<p>4.2</p>
    </div>
    <div class="divider"></div>
<!--     <div id="review">
        <h4>Featured Review</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div> -->
</div>

<div class="footer">
    <div class="container">
        <p>© 2015 MDM Interactive</p>
    </div>
</div>