<div class="header">
	<h3>Coffee Now</h3>
	<p>Good Coffee. Great People. Every City.</p>
</div>

<form>
  <div class="zip">
      <input type="text" class="form-control" id="enter_zip" placeholder="Enter Zip Code Here">
  	  <button type="submit" class="btn btn-default"></button>
  </div> 
</form>


<div class="main">
	<div class="main_pic"><%= link_to image_tag("venue-img.jpg") %></div>
	<div id="title">
		<h3>Culture Espresso Bar</h3>
		<p>72 W 38th St, New York, NY 10018</p>
	</div>
	<div id="review">This is the review</div>
</div>
