// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-image: url('background-gray.jpg');

}

.header {
	height: 120px;
	text-align: center;
	background-color: #fff;
	opacity: 0.85;
	border: none;
}

.header h3 {
	font-weight: 600;
	margin: 0;
	padding-top: 26px;
	font-size: 30px;
	padding-bottom: 10px;
}

.header p {
	color: #585858;
	font-size: 17px;
}

.zip {
	width: 514px;
	height: 94px;
	margin: 0 auto;
	margin-top: 30px;
	/*background-color: #fff;*/
	/*opacity: 0.65;*/
	border: none;
	border-radius: 3px;
	margin-bottom: 20px;
	background-image: url('bg-module.png');
}

.zip input {
	width: 300px;	
	display: inline;
	border: none;
	font-size: 21px;
	margin-top: 30px;
	margin-left: 20px;
	box-shadow: none;
	background-color: 0;
}

.zip input:focus {
	box-shadow: none;
}

.zip button {
	height: 74px;
	width: 74px;
	border-radius: 3px;
	float: right;
	margin: 10px 10px 0 0; 
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.95; 
	background-color: white;
}

.main {
	width: 514px; 
	margin: 0 auto;
	background-image: url('bg-module.png');
	/*background-color: #fff;*/
	/*opacity: 0.65;*/
	padding-top: 8px;
	padding-left: 8px;
}

.venue-img {
	display: block;
	margin: auto;
}

#zipcode{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}


/*MAX'S CSS*/
.gon-field {
	color: green;
}

#gon-status {
	font-weight: bold;
	color: red;
}